*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

/* HERO */
.hero{
  height:90vh;
  background:linear-gradient(to right,#ff7e5f,#feb47b);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:45px;
  margin-bottom:10px;
}

.hero p{
  font-size:18px;
  margin-bottom:20px;
}

.hero button{
  padding:12px 25px;
  border:none;
  background:white;
  color:#ff7e5f;
  font-weight:bold;
  border-radius:20px;
  cursor:pointer;
}

/* SECTIONS */
.section{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:60px;
}

.section img{
  width:40%;
  border-radius:10px;
}

.text{
  width:40%;
}

.text h2{
  margin-bottom:10px;
}

.text button{
  margin-top:10px;
  padding:10px 20px;
  background:#2575fc;
  color:white;
  border:none;
  border-radius:20px;
}

/* REVERSE SECTION */
.reverse{
  background:#f4f4f4;
}

/* FEATURES */
.features{
  display:flex;
  justify-content:space-around;
  padding:60px;
  background:white;
}

.card{
  width:25%;
  padding:25px;
  background:#f0f8ff;
  border-radius:15px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer{
  background:#333;
  color:white;
  text-align:center;
  padding:30px;
}

